
            /* IMAGEN HERO */
            <section class="container">
            <div class="row align-items-center hero2 img-fluid">
                <div class="col-lg-4 offset-lg-2">          
                        <h1>¿Nuestra filosofía?</h1>
                        <h3>¡Sea rápido, tenga hambre</h3>
                        <h3>y hágalo con pasión!</h3>
                    </div>
            </div>
            </section>
                <!--  VISION -->
                <section class="container mt-5 vision">
                <div class="card mb-3" style="border: 0;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="/images/nosotros1.jpg" class="img-fluid rounded-start" alt="no">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h2 class="card-title">Nuestra visión</h2>
                                <p class="card-text">Hace unos años, la moda solo se podía descubrir fuera de línea,
                                    las inspiradoras escaparates se llevaban a cabo mientras se paseaba por las calles
                                    comerciales o en los centros comerciales. Aunque las tecnologías de vanguardia ofrecían
                                    muchas ventajas, la mayoría de las tiendas de moda en línea eran solo grandes almacenes
                                    en los que se podía hacer clic, donde era difícil para los clientes encontrar el producto adecuado.
                                    Cuando comenzamos con Playeras, nuestra visión era crear el primer destino en línea donde puedas
                                    descubrir
                                    la moda e inspirarte en productos relevantes que realmente se adapten a tu estilo individual y
                                    propio,
                                    sin importar cuán pequeña sea la pantalla. Queríamos trasladar la inspiradora ola de compras a
                                    Internet y,
                                    al mismo tiempo, ofrecer a cada cliente una tienda online de moda única y personalizada. Trabajamos
                                    duro
                                    para lograr nuestros ambiciosos objetivos y convertirnos en el jugador de moda número 1 en Europa.
                                    ¿Quiere ser parte de nuestro enfoque innovador y ayudarnos a llevar alegría y tranquilidad a las
                                    compras en línea?
                                    Entonces esperamos poder compartir nuestros valores con usted.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
             </section>

             <!-- Habilidades -->
            <section class="container mt-5 vision">
                <div class="card mb-3" style="border: 0;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h2 class="card-title">¡Somos más rápidos que los demás!</h2>
                                <p class="card-text">
                                    Eficiente | Trabajamos de forma rápida y eficiente dentro de nuestros plazos. De acuerdo con la regla 80/20,
                                    preferimos implementar diez pequeñas ideas rápidamente que invertir mucho tiempo en la perfecta.
                                
                                    Inteligente | Encontramos soluciones inteligentes y sencillas. Dividimos los grandes objetivos en pequeños pasos.
                                
                                    Directo | Nos comunicamos con honestidad y claridad, sin política, sin agendas ocultas.
                                </p>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <img src="/images/nosotros2.jpg" class="img-fluid rounded-start" alt="no">
                        </div>
                    </div>
                </div>
            </section>

            <!-- FORTALEZA -->
            <section class="container mt-5 vision">
                <div class="card mb-3" style="border: 0;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="/images/nosotros3.jpg" class="img-fluid rounded-start" alt="no">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h2 class="card-title">¡Seguimos hambrientos!</h2>
                                <p class="card-text">
                                    Práctica | No hablamos de ideas por mucho tiempo, las ponemos en práctica, nuestro lema es
                                    ponernos en marcha.

                                    Flexible | No nos aferramos a una idea. Los nuevos conocimientos nos llevan a nuevas decisiones
                                    a las que estamos abiertos.

                                    Motivado | Queremos marcar la diferencia como equipo y nos motivamos mutuamente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

                        <!-- PASION -->     
            <section class="container mt-5 vision">
                            <div class="card mb-3" style="border: 0;">
                                <div class="row g-0">                        
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h2 class="card-title">¡Lo hacemos con pasión!</h2>
                                            <p class="card-text">
                                                Comprometido | Amamos lo que hacemos y estamos más del 100% comprometidos.
                                            
                                                Analítico | Somos apasionados, pero tomamos decisiones basadas en argumentos y análisis fácticos.
                                            
                                                Optimista | Pensamos en soluciones más que en problemas. Nuestro vaso siempre está medio lleno.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="/images/nosotros4.jpg" class="img-fluid rounded-start" alt="no">
                                    </div>
                                </div>
                            </div>
          </section>